<div class="carroucel">

    <div class="track">

       <div class="card">
            <img src="dotor v.jpg" alt="">
        </div>
        <div class="card">
            <img src="emi.jpg" alt="">
        </div>
        <div class="card">
            <img src="teamC.png" alt="">
        </div>
        
        <div class="card">
            <img src="crianca.jpg" alt="">
        </div>
        <div class="card">
            <img src="logo-lads.jpg" alt="">
        </div>
        <!---->

        <div class="card">
            <img src="dotor v.jpg" alt="">
        </div>
        <div class="card">
            <img src="crianca.jpg" alt="">
        </div>
        <div class="card">
            <img src="emi.jpg" alt="">
        </div>
        <div class="card">
            <img src="teamC.png" alt="">
        </div>
        <div class="card">
            <img src="logo-lads.jpg" alt="">
        </div>

    </div>

</div>