<section>

    <div class="text-center mb-5">
        <h4 style="color: rgb(61, 60, 60)"> Nossa equipe de Doctores </h4>
    </div>

    <div class="container">

        <div class="container-child1">

            <div>

                <img src="emi.jpg" alt="" class="border-circle" style="width: 150px; height: 150px;">
                <h4>Dr. Emiliano</h4>
                <p class="text-secondary">Dentista</p>
                <div  >
                    <i class="pi pi-facebook text-primary" style="font-size: 1.5rem; cursor: pointer;"></i>
                    <i class="pi pi-whatsapp text-primary" style="font-size: 1.5rem; cursor: pointer;"></i>
                    <i class="pi pi-twitter text-primary" style="font-size: 1.5rem; cursor: pointer;"></i>
                </div>

            </div>

            <div>

                <img src="dotor v.jpg" alt="" class="border-circle" style="width: 150px; height: 150px;">
                <h4>Dr. Manuel</h4>
                <p class="text-secondary">Dentista</p>
                <div>
                    <i class="pi pi-facebook text-primary" style="font-size: 1.5rem; cursor: pointer;"></i>
                    <i class="pi pi-whatsapp text-primary" style="font-size: 1.5rem; cursor: pointer;"></i>
                    <i class="pi pi-twitter text-primary" style="font-size: 1.5rem; cursor: pointer;"></i>
                </div>

            </div>

            <div>

                <img src="emi.jpg" alt="" class="border-circle" style="width: 150px; height: 150px;">
                <h4>Dr. Emiliano</h4>
                <p class="text-secondary">Dentista</p>
                <div>
                    <i class="pi pi-facebook text-primary" style="font-size: 1.5rem; cursor: pointer;"></i>
                    <i class="pi pi-whatsapp text-primary" style="font-size: 1.5rem; cursor: pointer;"></i>
                    <i class="pi pi-twitter text-primary" style="font-size: 1.5rem; cursor: pointer;"></i>
                </div>

            </div>

            <div>

                <img src="dotor v.jpg" alt="" class="border-circle" style="width: 150px; height: 150px;">
                <h4>Dr. Manuel</h4>
                <p class="text-secondary">Dentista</p>
                <div >
                    <i class="pi pi-facebook text-primary" style="font-size: 1.5rem; cursor: pointer;"></i>
                    <i class="pi pi-whatsapp text-primary" style="font-size: 1.5rem; cursor: pointer;"></i>
                    <i class="pi pi-twitter text-primary" style="font-size: 1.5rem; cursor: pointer;"></i>
                </div>

            </div>

        </div>

    </div>

</section>
