<header>
  <app-header></app-header>
  <app-header-two></app-header-two>
</header>
<section>
    <img class="heroSection" src="doctor.png" alt="" style="width: 350px; height: 340px; padding-top: 15px;">
    <div class="main">

        <div>
            <img src="doctor.png" alt="">
        </div>

        <div class="container">
            <div>
                <header><h3>OS MELHORES DA LUNDA NORTE</h3></header>
                <p>
                    Excelencia em cuidados de saúde bocal na Lunda Norte. Reunimos os melhores profissionais e serviços <br> clinicos, com atendimento humanizado, tecnologia moderna e resposta rápida para garantir o bem estar de cada paciente.
                </p>
            </div>

            <div class="container-1">

                <div>
                    <header> <i class="fas fa-procedures"></i> </header>
                    Infrastrutura moderna para internação segura e acompanhamento contínuo <br> dos pacientes. <br> O melhor que existe é aqui na Cisdente.
                </div>

                <div>
                    <header><i class="fas fa-user-doctor"></i></header>
                    Profissionais altamente qualificados, dedicados a oferecer o melhor cuidado médico<br> Deixe-nus cuidar da tua saúde e higiene bocal para o seu bem estar.
                </div>
            </div>

        

            <div class="container-2">

                <div>
                    <header> <i class="fas fa-ambulance"></i></header>
                    Atendimento de emergência ágil e eficiente disponivel quando mais importa.<br> Não exite e nus contactar porque estamos sempre prontos e preparados para o atender e cuidar de si.
                </div>

                <div>
                    <header><i class="fas fa-house-medical"></i></header>
                    Clínica bem equipada que garante conforto, segurança e excelência no atendimento <br> O melhor que podemos dar para si é o máximo cuidado dos seus dentes e sua sáude e higiene bocal.
                </div>

            </div>
        </div>
    </div>
</section>