<section >

    <div class="container">

        <div class="container-1">

                <div class="cabecalho">
                    <h3 id="title" class="text-primary mb-3">Como nós trabalhamos</h3>
                    <p style="padding-top: 10px;">
                        Nosso trabalho é baseado em organização, profissionalismo e atenção
                        aos detalhes em cada etapa do processo. Começamos entendendo as necessidades
                        de cada cliente, analisando cuidadosamente suas expectativas opara oferecer o melhor
                        de nós.
                    </p>
                </div>

                <div class="container-1-child">

                    <div>
                        <img src="teamC.png">
                        <h4 class="text-primary" style="padding-top: 5px;">A melhor equipe</h4>
                        <p >
                                Acreditamos que entender o processo  
                                é algo<br> essencial para alcançar os melhores 
                                resultados<br> 
                                Não espere mais! Contac-nus já.
                        </p>
                    </div>
                
                    <div class="container-1-child2">
                        <img src="crianca.jpg">
                        <h4 class="text-primary" style="padding-top: 5px;">Diagnostico preciso</h4>
                        <p >
                            O diagnostico mais prerciso e seguro
                            só <br> encontras aqui na cisdente. 
                            A melhor qualidade <br>
                            de taratamento dos dentes esta aqui!
                        </p>
                    </div>

                </div>

            <p-button label="Ler mais" icon="pi pi-arrow-right" iconPos="right"></p-button>

        </div>

        <div class="container-2">

            <h2 class="text-primary mb-3">Nossas criações</h2>
            <p >
                Nossas criações são desenvolvidas com foco na qualidade 
                inovação e atenção aos detalhes. Buscamos sempre oferecer o melhor.
                
            </p>

            <div class="container-2-child">
                <p-button label="Ouça a nossa explicação" icon="fas fa-play-circle"  styleClass="w-full p-button-rounded bg-primary" class="w-full"></p-button>
                <p style="margin-top: 3px; padding-top: 15px;">
                    Aqui, prezamos por uma comunicação clara e acessivel para todos os 
                    nossos clientes. <br> Explicamos cada etapa do processo de forma simples 
                    garantindo total compreensão. <br>
                    
                </p>
            </div>

            <div class="container-2-child2">

                <div>
                    <p-button label="Endereço da clinica" icon="fas fa-play-circle" styleClass="w-full p-button-outlined" class="w-full"></p-button>
                </div>

                <div>
                    <p-button label="Como tratar o dente" icon="fas fa-play-circle"  styleClass="w-full p-button-outlined" class="w-full"></p-button>
                </div>

                <div>
                     <p-button label="Como lavar bem os dentes" icon="fas fa-play-circle"  styleClass="w-full p-button-outlined" class="w-full"></p-button>
                </div>

                 <div>
                     <p-button label="Alimentos para evitar sujar os dentes" icon="fas fa-play-circle"  styleClass="w-full p-button-outlined" class="w-full"></p-button>
                </div>

            </div>

        </div>

    </div>
</section>
