<section>
    <header style="text-align: center; margin-top: 38px; margin-bottom: 38px;">
        <h5 class="title"> <strong>Porquê escolher a nós ?</strong> </h5>
        <p>Oferecemos atendimento rápido e eficiente em situações de urgência
        <br>garantindo os primeiros cuidados com segurança e precisão. 
        <br>Nossa equipe esta pronta para agir com toda força e agilidade.</p>
    </header>
    
    <div class="container">
        
        <div class="container-child">
            <div style="display: flex; align-items: center; gap: 20px;">
                <i class="fa fa-briefcase-medical"></i>
                <h4 class="text-danger">Primeiros socorros</h4>
            </div>
            
            <p style="margin-right: 30px;">
                Em casos de urgência, oferecemos atendimento imediato com foco <br>
                na estabilização e segurança do paciente. Nossa equipa atua com rapidez,
                precisão e protocolos bem definidos para garantir os primeiros cuidados essenciais. 
            </p>
            
            <div style="display: flex;align-items: center; gap: 20px;">
                <i class="fa fa-user-nurse"></i>
                <h4 class="text-success">Profissional</h4>
            </div>
           
            <p style="margin-right: 30px;">
                Contamos com profissionais qualificados, experientes e em constante 
                atualização. Nosso compromisso é oferecer um atendimento humanizado
                baseado em ética, conhecimento técnico e dedicação total ao bem estar de cada paciente.
            </p> 
        </div>

        <figure>
            <img src="emiliano.jpg" alt="imagemDotora">
        </figure>

            
        <div class="secondContainerChild">

            <div style="display: flex; align-items: center; gap: 20px;">
                <i class="fa fa-capsules" style="margin-left: 30px;"></i>
                <h4 class="text-success">Receitas</h4>
            </div>
            
            <p style="margin-left: 30px;">
                Emitimos receitas médicas com responsabilidade e clarezza 
                seguindo rigorosamente as normas clínicas. Garantimos que cada 
                prescrição seja adequada às necessidades do paciente.
            </p>
            
            <div style="display: flex; align-items: center; gap: 20px;">
                <i class="fa fa-stethoscope" style="margin-left: 30px;"></i>
                <h4 class="text-danger">Cuidados</h4>
            </div>

            <p style="margin-left: 30px;">
                Prestamos cuidados médicos completos, desde a prevenção até 
                o acompanhamento contínuo. Nosso foco é promover saúde de forma integral
                com atenção personalizada e soluções eficazes paea cada caso.
            </p>
            
        </div>

    </div>
     
</section>
