<section>

  <header>
    <h3>Perfil de endereçamentos</h3>
  </header> 

  <div class="container" >

        <div class="container-1" >
            
            <div class="cn1-Children">
                <img src="teamC.png" alt="" style="height: 180px; border-radius: 25px;">
                <div class="enderecos">
                    <h3>Endereços</h3>
                    <ul style="padding-top: 1rem; list-style: none;">
                        <li> <i class="pi pi-map-marker"></i> 365 Prédio Azul</li>
                        <li> <i class="pi pi-map-marker"></i> Cidade: Dundo</li>
                        <li> <i class="pi pi-map-marker"></i> Zona Urbana</li>
                    </ul> 
                </div>

                <div class="enderecos-2">
                     
                    <ul>
                        <header>Horario</header>
                        <li>12:30 Am</li>
                        <li>18:25 Pm</li>
                        <li>08:00 Am</li>
                    </ul> 
                    <ul>
                        <header>Horario</header>
                        <li>20:00 Am</li>
                        <li>22:30 Pm</li>
                        <li>08:00 Am</li>
                    </ul>
                    <ul>
                        <header>Horario</header>
                        <li>08:00 Am</li>
                        <li>22:00 Pm</li>
                        <li>08:00 Am</li>
                    </ul>
                </div>
                
            </div>
            
            <div class="cn1-children2">
                <div style="background-color: white; border-radius: 12px;">
                     <ul>
                    <header style="padding-top: 13px;">
                        <h5><i class="pi pi-clock" >Investigações</i></h5>
                    </header>
                    <li>Crise dentaria ---------- kz 3000</li>
                    <li>Inflamação 24/7 --------- kz 5760</li>
                    <li>Dores dentaria --------- kz 8000</li>
                    <li>Carie dentaria  ---------- kz 3500</li>
                    <p-button pButton >Enviar um e-mail <i class="pi pi-envelope"></i> </p-button>
                </ul>
                </div>

                <div class="enderecos-2">
                    <ul>
                        <header style="padding-top: 13px;">
                            <h5> <i class="pi pi-clock">Emergência</i></h5>
                        </header>
                        <li> <i class="pi pi-check-circle"> Muito precisa ---------- kz 2500 </i></li>
                        <li> <i class="pi pi-check-circle"> Pouco veloz ---------- kz 3000</i></li>
                        <li> <i class="pi pi-check-circle"> Ponto critico ---------- kz 45000</i></li>
                        <li> <i class="pi pi-check-circle"> Situacional ---------- kz 5500</i></li>
                        <p-button pButton >Enviar um e-mail <i class="pi pi-envelope"></i> </p-button>
                    </ul>

                    <ul>
                        <header style="padding-top: 13px;">
                            <h5> <i class="pi pi-clock">Urgência</i></h5>
                        </header>
                        <li> <i class="pi pi-check-circle"> Muito precisa ---------- kz 7500</i></li>
                        <li> <i class="pi pi-check-circle"> Pouco veloz ---------- kz 10.000</i></li>
                        <li> <i class="pi pi-check-circle"> Ponto critico ---------- kz 3500</i></li>
                        <li> <i class="pi pi-check-circle"> Situacional ---------- kz 8250</i></li>
                        <p-button pButton >Enviar um e-mail <i class="pi pi-envelope"></i> </p-button>
                    </ul>
                </div>
            </div>
    
        </div>

        <div class="container-2">

            <header><h4>Faça anotações</h4></header>

            <ul class="cn2-children">

                <li> <i class="pi pi-user"></i> <input pInputText type="text" placeholder="Nome completo"> </li>
                <li> <i class="pi pi-phone"></i> <input pInputText type="text" placeholder="Telefone" > <i></i> </li>
                <li> <i class="pi pi-envelope"></i> <input pInputText type="text" placeholder="E-mail"> <i></i>  </li>
                <li> <i class="pi pi-home"></i> <input pInputText type="text" placeholder="Morada"> <i></i>  </li>
                <li> <textarea name="Mensagem" id="">Mensagem</textarea> </li>
                <p-button pButton styleClass="buttonSend">Enviar mensagem <i class="pi pi-envelope"></i> </p-button>
            </ul>
            
        </div>
  </div>

</section>