
<footer class="footer">

    <div class="icones">
        <i class="pi pi-envelope"></i>
        <i class="pi pi-globe"></i>
        <i class="pi pi-camera"></i>
    </div>

    <div class="container grid">

        <div class="col-12 md:col-4">
            <h2 class="logo">CLÍNICO</h2>
            <p class="descricao"> 
                Plataforma profissional de gestão clínica com tecnologia moderna,
                segurança e foco total na experiência do cliente.
            </p>

            <div class="socials">
                <i class="pi pi-facebook"></i>
                <i class="pi pi-whatsapp"></i>
                <i class="pi pi-instagram" ></i>
                <i class="pi pi-twitter" ></i>
            </div>

        </div>

        <div class="col-6 md:col-2">
            <h4>Empresa</h4>

            <ul>
                <li><a href="">Sobre</a></li>
                <li><a href="">Serviços</a></li>
                <li><a href="">Equipe</a></li>
                <li><a href="">Contactos</a></li>
            </ul>
        </div>

        <div class="col-6 md:col-2">
            <h4>Suporte</h4>
            <ul>
                <li><a href="">Ajuda</a></li>
                <li><a href="">Privacidade</a></li>
                <li><a href="">Termos</a></li>
                <li><a href="">FAQ</a></li>
            </ul>
        </div>

        <div class="col-12 md:col-4">
            <h4>Contacto</h4>

            <p><i class="pi pi-phone"></i>+244 941 64 44 63</p>
            <p><i class="pi pi-envelope"></i>Cisdente468 gmail.com</p>
            <p><i class="pi pi-map-marker"></i>Lunda Norte, Angola</p>
            
            <!-- Newsletter -->
        
            <div class="newsletter">
                <label for="">Receba novidades</label>
                <div class="input-icon">
                    <i class="pi pi-envelope"></i>
                    <input type="email" placeholder="Seu e-mail">
                    <p-button  type="submit">Enviar</p-button>
                </div>
            </div>

            <!-- Divisor -->
            <div class="divider"></div>

            <div class="footer-bottom">
                <p>2026 CLÍNICO - Todos os direitos reservados</p>
            </div>
           
        </div>
    </div>

</footer>

